div {
    display: inline-block;
    border: 2px solid black;
}

img {
    width: 200px;
}

#one {
    border-right: 1px dashed black;
    text-align: center;
}

#two {
    border-right: 1px dashed black;
    text-align: center;
}

#three {
    text-align: center;
}

#freetrial {
    background-color: blue;
    color: white;
}